{{ define "main" }}
<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-1919 node-type-profesorji i18n-sl" >
<div style="position:relative">
    <div id="mobile-menu-backgroud-dark"></div>

    {{ if eq $.Site.Language.Lang "en" }}
    {{ partial "header-en.html" .}}
    {{else}}
    {{ partial "header-sl.html" .}}
    {{end}}


    <div class="region region-content">
        <div id="block-system-main" class="block block-system">
            <div class="content">
                <div class="header-margin"></div>

                <div id="block-studij-banner-block-custom" class="block block-studij">
                    <div class="content">
                        <div id="banner-header" class="container">
                            <div class="breadcrumbs">
                                {{if eq $.Site.Language.Lang "sl"}}
                                <a href="{{ "/" | relURL }}">{{ i18n "home" }}</a>
                                <span>></span>
                                <a href="{{ "/poslanstvo-vizija" | relURL}}"> {{ humanize (i18n "about") }}</a>
                                <span>></span>
                                <a href="{{ "/o-fakulteti/osebje" | relURL}}"> {{ i18n "employees" }}</a>
                                <span>></span>
                                {{else}}
                                <a href="{{ "/" | relURL }}">{{ i18n "home" }}</a>
                                <span>></span>
                                <a href="{{ "/about" | relURL}}"> {{ humanize (i18n "about") }}</a>
                                <span>></span>
                                <a href="{{ "/about-faculty/employees" | relURL}}"> {{ i18n "employees" }}</a>
                                <span>></span>
                                {{end}}

                            </div>	<div class="left-container-text">
                            <div class="wrap-text flex-space-between">
                                <div class="title">
                                    <div>
                                        {{ i18n "staff" }}                </div>
                                </div>
                                <div class="dots">
                                    <div class="whiteDotsBanner" style="top : 0;left: 0;width: 395px;"></div>
                                </div>
                                <div class="text">
                                </div>
                            </div>
                        </div>
                            <div class="header-image-katedre" style="background-image: url(https://fri.uni-lj.si/sites/default/files/O%20fakulteti_Osebje-osebne%20straniC75T4315.jpg) !important;"></div></div>
                    </div>
                </div>


                <div class="container" id="flexContainerOsebje">
                    <div id="aboutImageSection">
                        {{ partial "personal_img.html" . }}
                        <div id="aboutProfPovezave">Povezave</div>
                        <a id='buttonSicris' target='_blank' href="http://www.sicris.si/public/jqm/search_basic.aspx?lang=slv&opdescr=search&opt=2&subopt=1&code1=cmn&code2=auto&search_term={{ .Params.SICRIS }}">
                            <div >SICRIS</div>
                        </a>
                    </div>

                    <div id="aboutMainSection">
                        <div id="aboutMainContainer">
                            <div>
                                <div id="profName">{{ .Params.profName }}</div>
                                <div id="profTitle">{{ .Params.profTitle }}<br/></div>
                                <div class="grayDots"></div>
                                <div class="contactInfo">
                                    {{ if .Params.telephoneInfo }}
                                    <div id="telephoneInfo">
                                        <span style="color: #999999">T:</span>
                                        <span style="padding-left: 12px">{{ .Params.telephoneInfo }}</span>
                                    </div>
                                    {{ end }}
                                    {{ if .Params.mailInfo }}
                                    <div id="mailInfo">

                                        <div id="read">
                                            <a v-on:click="showform = !showform" href="" href="" id="mail">
                                                <span style="color: rgb(153, 153, 153);">E:</span><span style="padding-left: 12px;">Pošljite sporočilo</span>
                                            </a>
                                            <form enctype="multipart/form-data" action="?" method="POST" id="send" accept-charset="UTF-8" style="padding-left: 12px;">
                                                <div id="fill-data" class="form-wrapper"><div class="form-item form-type-textfield form-item-email">
                                                    <label for="sendid">Vaš email <span title="To polje je obvezno." class="form-required">*</span></label>
                                                    <span imediate="">
                                                        <input type="email" name="sender" id="sendid" size="52" maxlength="254" required="required" class="form-text" style="border: 1px solid rgb(153, 153, 153); border-radius: 2px; padding: 10px;">
                                                    </span>
                                                </div>
                                                    <div class="form-item form-type-textfield form-item-data">
                                                        <label for="fill-data">Vaše sporočilo <span title="To polje je obvezno." class="form-required">*</span></label>
                                                        <textarea name="core" form="send" rows="5" cols="50" id="sendcore" required="required" style="border: 1px solid rgb(153, 153, 153); border-radius: 2px; padding: 10px;"></textarea>
                                                    </div>
                                                    <div id="veryfier">
                                                        <div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=2&amp;k=6Lc0UAEVAAAAAN7TRsGyuC1UgGSHOmzRi2vNAmqG&amp;co=aHR0cHM6Ly9mcmkudW5pLWxqLnNpOjQ0Mw..&amp;hl=sl&amp;v=iSHzt4kCrNgSxGUYDFqaZAL9&amp;size=normal&amp;cb=aw3n8v2uq8rl" width="304" height="78" role="presentation" name="a-wdkfxixf0tvc" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div>
                                                            <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                                        </div>
                                                        <iframe style="display: none;"></iframe></div>
                                                </div>
                                                <div id="fill-actions" class="form-actions form-wrapper">
                                                    <input type="submit" id="sendb" name="send" value="Pošlji" class="form-submit" style="border: 2px solid rgb(153, 153, 153); border-radius: 10px; padding: 10px;"></div>
                                            </form>
                                        </div>
                                        <div id="write"></div>
                                    </div>
                                    {{ end }}
                                </div>
                                <div class="contactInfo2">
                                    {{if .Params.officeHours }}
                                    <div id="telephoneInfo">
                                        <span style="color: #999999">{{ i18n "officeHours" }}:</span>
                                        <span style="padding-left: 12px">{{ .Params.officeHours }}</span>
                                    </div>
                                    {{ end }}
                                    {{ if .Params.location}}
                                    <div id="mailInfo">
                                        <span style="color: #999999">{{ i18n "room" }}:</span>
                                        <span style="padding-left: 12px">{{ .Params.location }}</span>
                                    </div>
                                    {{ end }}
                                </div>

                                <div class="grayDots"></div>

                                <div class="aboutMainSectionContainer">
                                    <div class="description-stuff">
                                        {{ .Content }}
                                    </div>
                                </div>

                                {{ partial "courses.html" . }}

                                {{ if .Params.lab }}
                                <div class="aboutMainSectionContainer">
                                    <div class="aboutMainSectionTitle">{{ i18n "laboratory" 1 }}</div>
                                    <div class="aboutMainSectionLi">
                                        <ul class="customList">
                                            <li>
                                                {{ if eq $.Site.Language.Lang "sl" }}
                                                <a href="{{ with .Params.labURL }}{{ (printf "/laboratorij/%s" .) | relURL}}{{end}}"><b>{{ .Params.lab }}</b>, {{ .Params.labPos }}</a>
                                                {{ else }}
                                                <a href="{{ with .Params.labURL }}{{ (printf "/laboratory/%s" .) | relURL}}{{end}}"><b>{{ .Params.lab }}</b>, {{ .Params.labPos }}</a>
                                                {{ end }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {{ end }}

                                <div class="aboutMainSectionContainer">

                                    {{ partial "personal_projects.html" . }}

                                </div>

                                <div class="aboutMainSectionContainer">

                                    {{ partial "publications.html" . }}

                                </div>

                                <div class = "grayLine"></div>
                                <div class="expand-hidden-data" style="margin-top:14px; margin-left: 50px; position:relative;">
                                    <div id="moreText">Več</div>
                                    <div id="moreImage"><img src="/sites/all/modules/custom/osebje/images/arrowDown_11.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ if eq .Site.Language.Lang "sl"}}
                        {{ partial "side_personal.sl.html" . }}
                    {{ else }}
                        {{ partial "side_personal.en.html" . }}
                    {{ end }}

                </div>
            </div>
        </div>
    </div>

    {{ if eq .Site.Language.Lang "sl"}}
        {{ partial "footer.sl.html" . }}
    {{else}}
        {{ partial "footer.en.html" . }}
    {{end}}

    {{ partial "js.html" . }}

</div>

<!--
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  $(document).ready(function() {
    if (!Drupal.eu_cookie_compliance.hasAgreed()){
    ga('create', 'UA-129699751-1', {
      'storage': 'none',
      'clientId': "ANON"
    });

    ga('send', 'pageview');

    //window['ga-disable-UA-71142817-1'] = true;
  } else {
    ga('create', 'UA-129699751-1', 'auto');
      ga('send', 'pageview');
  }
});


</script>
-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<!--
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129699751-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-129699751-1');
</script>
-->

</body>

{{ end }}