{{ define "main" }}
<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-1919 node-type-profesorji i18n-sl" >
<div style="position:relative">
    <div id="mobile-menu-backgroud-dark"></div>

    {{ partial "header.html" . }}


    <div class="region region-content">
        <div id="block-system-main" class="block block-system">
            <div class="content">
                <div class="header-margin"></div>

                <div id="block-studij-banner-block-custom" class="block block-studij">
                    <div class="content">
                        <div id="banner-header" class="container">
                            <div class="breadcrumbs">
                                <a href="/">Domov</a>

                                <span>></span>
                                <a href="/sl/poslanstvo-vizija"> O fakulteti</a>

                                <span>></span>
                                <a href="/sl/o-fakulteti/osebje"> Osebje</a>

                                <span>></span>




                            </div>	<div class="left-container-text">
                            <div class="wrap-text flex-space-between">
                                <div class="title">
                                    <div>
                                        Osebje                    </div>
                                </div>
                                <div class="dots">
                                    <div class="whiteDotsBanner" style="top : 0;left: 0;width: 395px;"></div>
                                </div>
                                <div class="text">
                                </div>
                            </div>
                        </div>
                            <div class="header-image-katedre" style="background-image: url(https://fri.uni-lj.si/sites/default/files/O%20fakulteti_Osebje-osebne%20straniC75T4315.jpg) !important;"></div></div>
                    </div>
                </div>


                <div class="container" id="flexContainerOsebje">
                    <div id="aboutImageSection">
                        {{ partial "personal-img.html" . }}
                        <div id="aboutProfPovezave">Povezave</div>
                        <a id='buttonSicris' target='_blank' href="http://www.sicris.si/public/jqm/search_basic.aspx?lang=slv&opdescr=search&opt=2&subopt=1&code1=cmn&code2=auto&search_term={{ .Params.SICRIS }}">
                            <div >SICRIS</div>
                        </a>
                    </div>

                    <div id="aboutMainSection">
                        <div id="aboutMainContainer">
                            <div>
                                <div id="profName">{{ .Params.profName }}</div>
                                <div id="profTitle">{{ .Params.profTitle }}<br/></div>
                                <div class="grayDots"></div>
                                <div class="contactInfo">
                                    <div id="telephoneInfo">
                                        <span style="color: #999999">T:</span>
                                        <span style="padding-left: 12px">{{ .Params.telephoneInfo }}</span>
                                    </div>
                                    <div id="mailInfo">
                                        <span style="color: #999999">E:</span>
                                        <span style="padding-left: 12px">{{ .Params.mailInfo }}</span>
                                    </div>
                                </div>
                                <div class="contactInfo2">
                                    <div id="telephoneInfo">
                                        <span style="color: #999999">Govorilne ure:</span>
                                        <span style="padding-left: 12px">{{ .Params.officeHours }}</span>
                                    </div>
                                    <div id="mailInfo">
                                        <span style="color: #999999">Prostor:</span>
                                        <span style="padding-left: 12px">{{ .Params.location }}</span>
                                    </div>
                                </div>

                                <div class="grayDots"></div>

                                <div class="aboutMainSectionContainer">
                                    <div class="description-stuff">
                                        {{ .Content }}
                                    </div>
                                </div>

                                {{ partial "predmeti.html" . }}

                                <div class="aboutMainSectionContainer">
                                    <div class="aboutMainSectionTitle">Laboratorij</div>
                                    <div class="aboutMainSectionLi">
                                        <ul class="customList">
                                            <li>
                                                <a href='/sl/laboratorij/lkm' target='_blank'><b>{{ .Params.lab }}</b>, {{ .Params.labPos }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="aboutMainSectionContainer">
                                    <div class="aboutMainSectionLi">
                                        <div class="aboutMainSectionTitle">Projekti</div>
                                        <div class="title-small-gray"></div>
                                        <ul class="customList">
                                            <li >
                                                <a href="/sl/projekti/nadgradnja-korpusov-gigafida-kres-ccgigafida-cckres">
                                                    <span>Nadgradnja korpusov Gigafida, Kres, ccGigafida in ccKres</span>
                                                </a><br />
                                                <span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>Ostali nacionalni projekti</span>
                                                <span style='font-size: 12px; cursor:default; color:black;'>01.01.2015 - 31.12.2020</span>
                                            </li>

                                            <li >
                                                <a href="/sl/projekti/umetna-inteligenca-inteligentni-sistemi-0">
                                                    <span>Umetna inteligenca in inteligentni sistemi</a><br /><span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>Raziskovalni programi ARRS</span><span style='font-size: 12px; cursor:default; color:black;'>01.01.2015 - 31.12.2020</span>
                                                </span>

                                            </li>

                                            <li >
                                                <a href="/sl/projekti/center-za-jezikovne-vire-tehnologije-univerze-v-ljubljani-cjvt-ul">
                                            <span>

                                                Center za jezikovne vire in tehnologije Univerze v Ljubljani (CJVT UL)</a><br /><span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>Raziskovalni programi ARRS</span><span style='font-size: 12px; cursor:default; color:black;'>01.01.2015 - 31.12.2020</span>
                                                </span>

                                            </li>

                                            <li >
                                                <a href="/sl/projekti/kauc-za-kakovost-slovenskih-ucbenikov">
                                            <span>

                                                KAUČ - Za KAkovost slovenskih UČbenikov</a><br /><span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>Projekti strukturnih skladov</span><span style='font-size: 12px; cursor:default; color:black;'>(KAUČ), 04.11.2016 - 30.06.2022</span>
                                                </span>

                                            </li>

                                            <li >
                                                <a href="/sl/projekti/nova-slovnica-sodobne-standardne-slovenscine-viri-metode-0">
                                            <span>

                                                Nova slovnica sodobne standardne slovenščine: viri in metode</a><br /><span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>Raziskovalni projekti ARRS</span><span style='font-size: 12px; cursor:default; color:black;'>01.05.2017 - 30.04.2020</span>
                                                </span>

                                            </li>

                                            <li >
                                                <a href="/sl/projekti/embeddia-medjezikovne-vektorske-vlozitve-za-manj-zastopane-jezike-v-evropskih-medijih">
                                            <span>

                                                EMBEDDIA - Medjezikovne vektorske vložitve za manj zastopane jezike v evropskih medijih</a><br /><span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>Evropski projekti</span><span style='font-size: 12px; cursor:default; color:black;'>(EMBEDDIA), 01.01.2019 - 31.12.2021</span>
                                                </span>

                                            </li>

                                            <li >
                                                <a href="/sl/projekti/jezikovni-viri-tehnologije-za-slovenski-jezik-0">
                                            <span>

                                                Jezikovni viri in tehnologije za slovenski jezik</a><br /><span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>Raziskovalni programi ARRS</span><span style='font-size: 12px; cursor:default; color:black;'>01.01.2019 - 31.12.2024</span>
                                                </span>

                                            </li>

                                        </ul>

                                        <div class="title-small-gray">
                                            Zaključeni projekti						</div>
                                        <ul class="customList">


                                            <li >
                                                <a href="/sl/projekti/integracija-odkrivanja-zakonitosti-v-podatkih-visoko-zmogljivega-racunalniskega-modeliranja">
                                            <span>

                                                Integracija odkrivanja zakonitosti v podatkih in visoko-zmogljivega računalniškega modeliranja srčno-žilnih bolezni</a><br /><span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>Bilaterarni projekti</span><span style='font-size: 12px; cursor:default; color:black;'>01.01.2010 - 31.12.2011</span>
                                                </span>

                                            </li>
                                            <li >
                                                <a href="/sl/projekti/napovedovanje-porabe-elektricne-energije-podprto-z-razlago-oceno-zanesljivosti-napovedi">
                                            <span>

                                                Napovedovanje porabe električne energije, podprto z razlago in oceno zanesljivosti napovedi</a><br /><span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>Bilaterarni projekti</span><span style='font-size: 12px; cursor:default; color:black;'>01.01.2010 - 31.12.2011</span>
                                                </span>

                                            </li>
                                            <li >
                                                <a href="/sl/projekti/strojno-ucenje-neuravnotezenih-podatkov">
                                            <span>

                                                Strojno učenje neuravnoteženih podatkov</a><br /><span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>Bilaterarni projekti</span><span style='font-size: 12px; cursor:default; color:black;'>01.01.2010 - 31.12.2011</span>
                                                </span>

                                            </li>
                                            <li >
                                                <a href="/sl/projekti/racunalnisko-modeliranje-v-bioinformatiki-za-gensko-klasifikacijo-raka-s-poudarkom-na">
                                            <span>

                                                Računalniško modeliranje v bioinformatiki za gensko klasifikacijo raka s poudarkom na zanesljivosti in strojnem učenju</a><br /><span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>Bilaterarni projekti</span><span style='font-size: 12px; cursor:default; color:black;'>01.01.2014 - 31.12.2015</span>
                                                </span>

                                            </li>
                                            <li >
                                                <a href="/sl/projekti/nadzorovano-nenadzorovano-ucenje-iz-neuravnovesenih-podatkov-za-pomoc-pri-gibanju">
                                            <span>

                                                Nadzorovano in nenadzorovano učenje iz neuravnovešenih podatkov za pomoč pri gibanju slabovidnim osebam</a><br /><span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>Bilaterarni projekti</span><span style='font-size: 12px; cursor:default; color:black;'>01.05.2014 - 31.12.2015</span>
                                                </span>

                                            </li>
                                            <li >
                                                <a href="/sl/projekti/kul-kakovost-univerza-v-ljubljani">
                                            <span>

                                                KUL - Kakovost - Univerza v Ljubljani</a><br /><span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>Projekti strukturnih skladov</span><span style='font-size: 12px; cursor:default; color:black;'>(KUL), 01.03.2013 - 30.06.2015</span>
                                                </span>

                                            </li>
                                            <li >
                                                <a href="/sl/projekti/avtomatsko-zaznavanje-lokalizacija-ishemij-z-uporabo-algoritmov-podatkovnega-rudarjenja">
                                            <span>

                                                Avtomatsko zaznavanje in lokalizacija ishemij z uporabo algoritmov podatkovnega rudarjenja</a><br /><span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>Bilaterarni projekti</span><span style='font-size: 12px; cursor:default; color:black;'>04.02.2016 - 31.12.2017</span>
                                                </span>

                                            </li>

                                        </ul>
                                    </div>
                                </div>

                                <div class="aboutMainSectionContainer">
                                    <div class="aboutMainSectionTitle">Publikacije</div>
                                    <div class="description-stuff publications">
                                        <p class="rtejustify">Marko Robnik-Šikonja, Igor Kononenko, Erik Štrumbelj: Quality of Classication Explanations with PRBF.&nbsp;<em>Neurocomputing</em>, 96:37-46, 2012&nbsp;<a href="http://lkm.fri.uni-lj.si/rmarko/papers/RobnikSikonja-Neurocomputing2012.pdf" style="padding: 0px; margin: 0px; color: rgb(172, 14, 2);">PDF</a></p>
                                        <div class="podatkiTwo">
                                            <div class="gray">
                                                <p class="rtejustify">Petr Savicky, Marko Robnik-Šikonja: Learning Random Numbers: A Matlab Anomaly.&nbsp;<em>Applied Artificial Intelligence</em>, 22:254-265, 2008&nbsp;<a href="http://lkm.fri.uni-lj.si/rmarko/papers/Savicky08-AAI.pdf" style="padding: 0px; margin: 0px; color: rgb(172, 14, 2);">PDF</a></p>

                                                <p class="rtejustify">Marko Robnik-Šikonja, Igor Kononenko: Explaining Classifications For Individual Instances. IEEE Transactions on Knowledge and Data Engineering, 20: 589-600, 2008&nbsp;<a href="http://lkm.fri.uni-lj.si/rmarko/papers/RobnikSikonjaKononenko08-TKDE.pdf" style="padding: 0px; margin: 0px; color: rgb(172, 14, 2);">PDF</a></p>

                                                <p class="rtejustify">Marko Robnik-Šikonja, Koen Vanhoof: Evaluation of ordinal attributes at value level. Knowledge Discovery and Data Mining, 14:225-243, 2007&nbsp;<a href="http://lkm.fri.uni-lj.si/rmarko/papers/RobnikSikonja2007-DAMI.pdf" style="padding: 0px; margin: 0px; color: rgb(172, 14, 2);">PDF</a></p>

                                                <p class="rtejustify">Marko Robnik-Šikonja: Improving Random Forests. In J.-F. Boulicaut et al.(Eds): ECML 2004, LNAI 3210, Springer, Berlin, 2004, pp. 359-370.&nbsp;<a href="http://lkm.fri.uni-lj.si/rmarko/papers/robnik04-ecml.pdf" style="padding: 0px; margin: 0px; color: rgb(172, 14, 2);">PDF</a></p>

                                                <p class="rtejustify">Marko Robnik-Šikonja, Igor Kononenko: Theoretical and Empirical Analysis of ReliefF and RReliefF. Machine Learning Journal, 53:23-69, 2003.&nbsp;<a href="http://lkm.fri.uni-lj.si/rmarko/papers/robnik03-mlj.pdf" style="padding: 0px; margin: 0px; color: rgb(172, 14, 2);">PDF</a></p>
                                            </div>
                                        </div>
                                        <div class="podatki">
                                            <p class="rtejustify"><a href="http://splet02.izum.si/cobiss/bibliography?code=15295" style="padding: 0px; margin: 0px; color: rgb(172, 14, 2);">Izpis celotne bibliografije</a></p>
                                        </div>
                                    </div>
                                </div>

                                <div class = "grayLine"></div>
                                <div class="expand-hidden-data" style="margin-top:14px; margin-left: 50px; position:relative;">
                                    <div id="moreText">Več</div>
                                    <div id="moreImage"><img src="/sites/all/modules/custom/osebje/images/arrowDown_11.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ partial "side-menu-personal.html" . }}

                </div>
            </div>
        </div>
    </div>

    {{ partial "footer.html" . }}

    {{ partial "js.html" . }}

</div>

<!--
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  $(document).ready(function() {
    if (!Drupal.eu_cookie_compliance.hasAgreed()){
    ga('create', 'UA-129699751-1', {
      'storage': 'none',
      'clientId': "ANON"
    });

    ga('send', 'pageview');

    //window['ga-disable-UA-71142817-1'] = true;
  } else {
    ga('create', 'UA-129699751-1', 'auto');
      ga('send', 'pageview');
  }
});


</script>
-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<!--
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129699751-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-129699751-1');
</script>
-->

</body>

{{ end }}