{{ define "main" }}
<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-1919 node-type-profesorji i18n-sl" >
<div style="position:relative">
    <div id="mobile-menu-backgroud-dark"></div>

    {{ partial "header.html" . }}


    <div class="region region-content">
        <div id="block-system-main" class="block block-system">
            <div class="content">
                <div class="header-margin"></div>

                <div id="block-studij-banner-block-custom" class="block block-studij">
                    <div class="content">
                        <div id="banner-header" class="container">
                            <div class="breadcrumbs">
                                <a href="{{ "/" | relURL }}">{{ i18n "home" }}</a>

                                <span>></span>
                                <a href="{{ "/poslanstvo-vizija" | relURL}}"> {{ i18n "about" }}</a>

                                <span>></span>
                                <a href="{{ "/o-fakulteti/osebje" | relURL}}"> {{ i18n "employees" }}</a>

                                <span>></span>




                            </div>	<div class="left-container-text">
                            <div class="wrap-text flex-space-between">
                                <div class="title">
                                    <div>
                                        {{ i18n "staff" }}                </div>
                                </div>
                                <div class="dots">
                                    <div class="whiteDotsBanner" style="top : 0;left: 0;width: 395px;"></div>
                                </div>
                                <div class="text">
                                </div>
                            </div>
                        </div>
                            <div class="header-image-katedre" style="background-image: url(https://fri.uni-lj.si/sites/default/files/O%20fakulteti_Osebje-osebne%20straniC75T4315.jpg) !important;"></div></div>
                    </div>
                </div>


                <div class="container" id="flexContainerOsebje">
                    <div id="aboutImageSection">
                        {{ partial "personal_img.html" . }}
                        <div id="aboutProfPovezave">Povezave</div>
                        <a id='buttonSicris' target='_blank' href="http://www.sicris.si/public/jqm/search_basic.aspx?lang=slv&opdescr=search&opt=2&subopt=1&code1=cmn&code2=auto&search_term={{ .Params.SICRIS }}">
                            <div >SICRIS</div>
                        </a>
                    </div>

                    <div id="aboutMainSection">
                        <div id="aboutMainContainer">
                            <div>
                                <div id="profName">{{ .Params.profName }}</div>
                                <div id="profTitle">{{ .Params.profTitle }}<br/></div>
                                <div class="grayDots"></div>
                                <div class="contactInfo">
                                    <div id="telephoneInfo">
                                        <span style="color: #999999">T:</span>
                                        <span style="padding-left: 12px">{{ .Params.telephoneInfo }}</span>
                                    </div>
                                    <div id="mailInfo">
                                        <span style="color: #999999">E:</span>
                                        <span style="padding-left: 12px">{{ .Params.mailInfo }}</span>
                                    </div>
                                </div>
                                <div class="contactInfo2">
                                    <div id="telephoneInfo">
                                        <span style="color: #999999">{{ i18n "officeHours" }}:</span>
                                        <span style="padding-left: 12px">{{ .Params.officeHours }}</span>
                                    </div>
                                    <div id="mailInfo">
                                        <span style="color: #999999">{{ i18n "room" }}:</span>
                                        <span style="padding-left: 12px">{{ .Params.location }}</span>
                                    </div>
                                </div>

                                <div class="grayDots"></div>

                                <div class="aboutMainSectionContainer">
                                    <div class="description-stuff">
                                        {{ .Content }}
                                    </div>
                                </div>

                                {{ partial "courses.html" . }}

                                <div class="aboutMainSectionContainer">
                                    <div class="aboutMainSectionTitle">{{ i18n "laboratory" 1 }}</div>
                                    <div class="aboutMainSectionLi">
                                        <ul class="customList">
                                            <li>
                                                <a href="{{ with .Params.labURL }}{{ (printf "/laboratorij/%s" .) | relURL}}{{end}}"><b>{{ .Params.lab }}</b>, {{ .Params.labPos }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="aboutMainSectionContainer">

                                    {{ partial "personal_projects.html" . }}

                                </div>

                                <div class="aboutMainSectionContainer">

                                    {{ partial "publications.html" . }}

                                </div>

                                <div class = "grayLine"></div>
                                <div class="expand-hidden-data" style="margin-top:14px; margin-left: 50px; position:relative;">
                                    <div id="moreText">Več</div>
                                    <div id="moreImage"><img src="/sites/all/modules/custom/osebje/images/arrowDown_11.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ if eq .Site.Language.Lang "sl"}}
                        {{ partial "side_personal.sl.html" . }}
                    {{ else }}
                        {{ partial "side_personal.en.html" . }}
                    {{ end }}

                </div>
            </div>
        </div>
    </div>

    {{ if eq .Site.Language.Lang "sl"}}
        {{ partial "footer.sl.html" . }}
    {{else}}
        {{ partial "footer.en.html" . }}
    {{end}}

    {{ partial "js.html" . }}

</div>

<!--
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  $(document).ready(function() {
    if (!Drupal.eu_cookie_compliance.hasAgreed()){
    ga('create', 'UA-129699751-1', {
      'storage': 'none',
      'clientId': "ANON"
    });

    ga('send', 'pageview');

    //window['ga-disable-UA-71142817-1'] = true;
  } else {
    ga('create', 'UA-129699751-1', 'auto');
      ga('send', 'pageview');
  }
});


</script>
-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<!--
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129699751-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-129699751-1');
</script>
-->

</body>

{{ end }}