{{ $len := len .authors }}
<p class="ltejustify" style="font-size: 90%">
    {{ .authors }}
    {{ .title }}. {{ .publication }}.

    {{ $all := slice }}
    {{ range $k, $v := .links}}
        {{if ne $v ""}}
            {{ $all = $all | append (slice (slice $k $v)) }}
        {{end}}
    {{ end }}

    {{ $index := 0 }}
    {{ $len := len $all}}
    {{ range $all }}
        {{ $k := index . 0 }}
        {{ $v := index . 1 }}
        {{if eq $index 0}} [{{end}}<a href="{{$v}}">{{$k}}</a>{{ $index = add $index 1 }}{{if lt $index $len}}|{{else}}]{{end}}
    {{ end }}
</p>