<div class="region region-footer">
    <div id="block-frontpage-footer-frontpage-block" class="block block-frontpage">


        <div class="content">





            <footer id="frontpage-footer">
                <div class="container">
                    <div class="menu">

                        <div class="footer-menu-item">
                            <div class="footer-menu-title">
                                <a href="/sl/studij">
                                    <span>Študij</span>
                                </a>
                            </div>
                            <ul>
                                <li>
                                    <a

                                            href="/sl/studij/dodiplomski-studij">
                                        Dodiplomski študij                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/studij/magistrski-studij">
                                        Magistrski študij                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/studij/doktorski-studij">
                                        Doktorski študij                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/mednarodne-izmenjave">
                                        Mednarodne izmenjave                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/studentski-status">
                                        Študentski status                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/studijski-koledar">
                                        Študijski koledar                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/pravilniki-vloge-ceniki">
                                        Pravilniki, vloge, ceniki                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/prijava-na-izpite">
                                        Prijava na izpite                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/vpis-v-visji-letnik">
                                        Vpis v višji letnik                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/vpis-po-merilih-za-prehode">
                                        Vpis po merilih za prehode                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/pogosta-vprasanja-0">
                                        Pogosta vprašanja                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/splosni-izbirni-predmeti">
                                        Splošni izbirni predmeti                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/napotki-za-pisanje-porocila">
                                        Napotki za pisanje poročila                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/stipendije">
                                        Štipendije                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/studentski-referat">
                                        Študentski referat                            </a>
                                </li>
                            </ul>

                        </div>

                        <div class="footer-menu-item">
                            <div class="footer-menu-title">
                                <a href="/sl/raziskave">
                                    <span>Raziskave</span>
                                </a>
                            </div>
                            <ul>
                                <li>
                                    <a

                                            href="/sl/raziskave/laboratoriji">
                                        Laboratoriji                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/raziskave/raziskovalni-projekti">
                                        Raziskovalni projekti                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/raziskave/seminarji-konference-zagovori">
                                        Seminarji, konference in zagovori                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/raziskovalna-infrastruktura">
                                        Raziskovalna infrastruktura                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/cern">
                                        CERN                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/jrc">
                                        JRC                            </a>
                                </li>
                            </ul>

                        </div>

                        <div class="footer-menu-item">
                            <div class="footer-menu-title">
                                <a href="/sl/obstudiju">
                                    <span>Ob študiju</span>
                                </a>
                            </div>
                            <ul>
                                <li>
                                    <a

                                            href="/sl/poletne-sole-delavnice">
                                        Poletne šole in delavnice                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/studentski-svet-fri">
                                        Študentski svet FRI                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/karierni-centri-univerze-v-ljubljani">
                                        Karierni centri UL                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/sport">
                                        Šport                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/banda-fridom">
                                        Banda FRIdom                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/robo-liga-fri">
                                        Robo Liga FRI                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/studentski-izzivi">
                                        Študentski izzivi                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/alumni-ul-fri">
                                        Alumni                            </a>
                                </li>
                            </ul>

                        </div>

                        <div class="footer-menu-item">
                            <div class="footer-menu-title">
                                <a href="/sl/dogodki">
                                    <span>Dogodki</span>
                                </a>
                            </div>
                            <ul>
                                <li>
                                    <a

                                            href="/sl/akademija-fri">
                                        Akademija FRI                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/poletna-sola-fri">
                                        Poletna šola FRI                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/teden-programiranja">
                                        Teden programiranja                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/frizider">
                                        Frižider                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/izobrazevanja-za-ucitelje">
                                        Izobraževanje za učitelje                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/do-nosu-v-blatu">
                                        Do nosu v blatu                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/fri-piskot">
                                        FRI Piškot                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/fri-garaza">
                                        Garaža FRI                            </a>
                                </li>
                                <li>
                                    <a

                                            href="/sl/fri-arena">
                                        FRI Arena                            </a>
                                </li>
                            </ul>

                        </div>

                        <div class="footer-menu-item">






                            <div class="footer-menu-item-link">
                                <div class="footer-menu-title">
                                    <a
                                            href="/sl/novice">
                                        <span>Novice</span>
                                    </a>
                                </div>
                            </div>


                            <div class="footer-menu-item-link">
                                <div class="footer-menu-title">
                                    <a
                                            href="/sl/poslanstvo-vizija">
                                        <span>O fakulteti</span>
                                    </a>
                                </div>
                            </div>


                            <div class="footer-menu-item-link">
                                <div class="footer-menu-title">
                                    <a
                                            href="/sl/bodoci-studenti">
                                        <span>Bodoči študenti</span>
                                    </a>
                                </div>
                            </div>


                            <div class="footer-menu-item-link">
                                <div class="footer-menu-title">
                                    <a
                                            href="https://fri.uni-lj.si/sl/kariera-na-fri">
                                        <span>Kariera na FRI</span>
                                    </a>
                                </div>
                            </div>


                            <div class="footer-menu-item-link">
                                <div class="footer-menu-title">
                                    <a
                                            href="/sl/prijavi-napako">
                                        <span>Prijavi napako</span>
                                    </a>
                                </div>
                            </div>


                            <div class="footer-menu-item-link">
                                <div class="footer-menu-title">
                                    <a
                                            href="/sl/informacijske-storitve">
                                        <span>Informacijske storitve</span>
                                    </a>
                                </div>
                            </div>


                            <div class="footer-menu-item-link">
                                <div class="footer-menu-title">
                                    <a
                                            href="/sl/varstvo-osebnih-podatkov">
                                        <span>Varstvo osebnih podatkov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>





                <!--  ŠTUDETNSKI REFERAT  -->
                <div class="studentski-referat">
                    <div class="overlay-color">
                        <div class="container inner">

                            <div class="heading">Študentski referat</div>
                            <div class="content-body">
                                <div class="head-offical">
                                    Uradne ure                    </div>
                                <div class="offical-hours">

                                    Ponedeljek, torek, sreda, četrtek: od <span class='info-strong'>10:30</span><span class="footerInfoLight"> do </span><span class='info-strong'>12:30</span>                    </div>
                                <div class="telephone">
                                    <span style="color:#767676; font-family: 'Klavika-LightCond">E: </span>
                                    <a style="color: white" href="mailto:studinfo@fri.uni-lj.si">
                                        studinfo@fri.uni-lj.si                                </a>
                                </div>
                                <div class="email">
                                    <span style="color:#767676; font-family: 'Klavika-LightCond">T: </span>

                                    01 / 479 8118                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="information">
                    <div class="container">
                        <div class="logo-f">
                            <img src="/sites/all/themes/fri_theme/images/unilj.png" />
                        </div>
                        <div class="info">
                            <p class="univerza">UNIVERZA V LJUBLJANI</p>
                            <p class="naziv"> Fakulteta za računalništvo in informatiko</p>

                            <p class="lokacija"> Večna pot 113, 1000 Ljubljana</p>

                            <div style="margin-left:-25px;">
                                <p class="info">
                                    <a style="margin-left:25px"  class="footer-grayed">T:</a>
                                    01 / 479 8000                        <a style="margin-left:25px" class="footer-grayed">M:</a>
                                    041 / 309 751
                                </p>
                            </div>
                            <div>
                                <p class="info">
                                    <a class="footer-grayed" >E:</a>
                                    <a style="color: white" href="mailto:dekanat@fri.uni-lj.si">
                                        dekanat@fri.uni-lj.si                        </a>
                                </p>
                            </div>

                        </div>



                        <div class="social">
                            <div style="font-family: 'Klavika-Light'">
                                FRI na družbenih omrežjih                </div>
                            <div class="fri-on-social">
                                <a href="https://www.facebook.com/ulfri" target="_blank">
                                    <img style="float:left" src="/sites/all/themes/fri_theme/images/f.png"/>
                                </a>
                                <a href="https://www.youtube.com/playlist?list=PLGYg4ZIlAe557Ad9QGq_G6i9y5CcJY0xt" target="_blank">
                                    <img style="margin-left:25px;margin-top:4px" src="/sites/all/themes/fri_theme/images/yt.png"/>
                                </a>
                                <a class="ml-5" title="FRI Github repozitorij kode" target="_blank" href="https://github.com/UL-FRI"><img class="w-6 h-6" src="/sites/all/themes/fri_theme/images/github-gray.png" /></a>
                            </div>
                        </div>
                        <div class="asiin">
                            <a target="_blank" href="http://www.asiin-ev.de/pages/en/asiin-e.-v.php">
                                <img src="/sites/all/themes/fri_theme/images/asiin_dark.png" />
                            </a>
                        </div>


                    </div>
                </div>





                <div class="footer-production" >
                    <div class="container">
                        <div class="left">
                            <div class="rightsReserved">
                                Vse pravice pridržane © Fakulteta za računalništvo in informatiko, 2019
                            </div>
                        </div>
                        <div class="right">
                            <!--
                            <div class="rightsReserved2" >
                                Zasnova in izdelava:
                            </div>
                            <a href="http://www.tovarnaidej.si/sl" target="_blank">
                                <img id="rightsReservedImage" src="/sites/all/themes/fri_theme/images/ti_light.png" />
                            </a>
                            -->
                        </div>
                    </div>
                </div>


            </footer>  </div>
    </div>
</div>