<div class="region region-footer">
    <div id="block-frontpage-footer-frontpage-block" class="block block-frontpage">


        <div class="content">





            <footer id="frontpage-footer">
                <div class="container">
                    <div class="menu">

                        <div class="footer-menu-item">
                            <div class="footer-menu-title">
                                <a href="/en/study-programmes">
                                    <span>Education</span>
                                </a>
                            </div>
                            <ul>
                                <li>
                                    <a href="/en/study-programmes/undergraduate-programmes">
                                        Undergraduate programmes                            </a>
                                </li>
                                <li>
                                    <a href="/en/study-programmes/masters-programmes">
                                        Master's programmes                            </a>
                                </li>
                                <li>
                                    <a href="/en/study-programmes/doctoral-programmes">
                                        Doctoral programmes                            </a>
                                </li>
                                <li>
                                    <a href="/en/international-study-exchanges">
                                        International Study Exchanges                            </a>
                                </li>
                                <li>
                                    <a href="/en/rules-applications-tuitions">
                                        Rules, Applications,Prices                            </a>
                                </li>
                                <li>
                                    <a href="/en/registering-exams">
                                        Registering for exams                            </a>
                                </li>
                                <li>
                                    <a href="/en/enrolment-next-year">
                                        Enrolment in the next year                            </a>
                                </li>
                                <li>
                                    <a href="/en/frequently-asked-questions">
                                        Frequently Asked Questions                            </a>
                                </li>
                                <li>
                                    <a href="/en/study-calendar">
                                        Study Calendar                            </a>
                                </li>
                                <li>
                                    <a href="/en/student-office">
                                        Student Office                            </a>
                                </li>
                                <li>
                                    <a href="/en/industrial-practice">
                                        Industrial Practice                            </a>
                                </li>
                                <li>
                                    <a href="/en/student-status">
                                        Student Status                            </a>
                                </li>
                            </ul>

                        </div>

                        <div class="footer-menu-item">
                            <div class="footer-menu-title">
                                <a href="/en/research">
                                    <span>Research</span>
                                </a>
                            </div>
                            <ul>
                                <li>
                                    <a href="/en/research/laboratories">
                                        Laboratories                            </a>
                                </li>
                                <li>
                                    <a href="/en/research/research-projects">
                                        Research projects                            </a>
                                </li>
                                <li>
                                    <a href="/en/research/seminars-conferences-graduations">
                                        Seminars, conferences and graduations                            </a>
                                </li>
                                <li>
                                    <a href="/en/jrc-0">
                                        JRC                            </a>
                                </li>
                            </ul>

                        </div>

                        <div class="footer-menu-item">
                            <div class="footer-menu-title">
                                <a href="/en/after-school">
                                    <span>After School</span>
                                </a>
                            </div>
                            <ul>
                                <li>
                                    <a href="/en/summer-schools-and-workshops">
                                        Summer schools and workshops                            </a>
                                </li>
                                <li>
                                    <a href="/en/international-competitions">
                                        International Competitions                            </a>
                                </li>
                                <li>
                                    <a href="/en/student-council-fri">
                                        Student Council FRI                            </a>
                                </li>
                                <li>
                                    <a href="/en/robo-league-fri">
                                        Robo League FRI                            </a>
                                </li>
                                <li>
                                    <a href="/en/sport-0">
                                        Sport                            </a>
                                </li>
                                <li>
                                    <a href="/en/band-fridom">
                                        Band FRIdom                            </a>
                                </li>
                                <li>
                                    <a href="/en/alumni">
                                        Alumni                            </a>
                                </li>
                            </ul>

                        </div>

                        <div class="footer-menu-item">
                            <div class="footer-menu-title">
                                <a href="/en/events">
                                    <span>Events</span>
                                </a>
                            </div>
                            <ul>
                                <li>
                                    <a href="/en/summer-school-fri">
                                        Summer School FRI                            </a>
                                </li>
                                <li>
                                    <a href="/en/computer-days">
                                        Computer days                            </a>
                                </li>
                                <li>
                                    <a href="/en/code-week">
                                        Code Week                            </a>
                                </li>
                                <li>
                                    <a href="/en/frizider-0">
                                        Frižider                            </a>
                                </li>
                                <li>
                                    <a href="/en/teacher-training">
                                        Teacher training                            </a>
                                </li>
                                <li>
                                    <a href="/en/your-neck-it">
                                        Up to your neck in it                            </a>
                                </li>
                                <li>
                                    <a href="/en/fri-garage">
                                        FRI Garage                            </a>
                                </li>
                                <li>
                                    <a href="/en/international-summer-school-biometrics">
                                        International Summer School on Biometrics                            </a>
                                </li>
                            </ul>

                        </div>

                        <div class="footer-menu-item">






                            <div class="footer-menu-item-link">
                                <div class="footer-menu-title">
                                    <a href="/en/news">
                                        <span>News</span>
                                    </a>
                                </div>
                            </div>


                            <div class="footer-menu-item-link">
                                <div class="footer-menu-title">
                                    <a href="/en/about">
                                        <span>About</span>
                                    </a>
                                </div>
                            </div>


                            <div class="footer-menu-item-link">
                                <div class="footer-menu-title">
                                    <a href="/en/prospective-student">
                                        <span>Prospective students</span>
                                    </a>
                                </div>
                            </div>


                            <div class="footer-menu-item-link">
                                <div class="footer-menu-title">
                                    <a href="https://fri.uni-lj.si/en/career-faculty">
                                        <span>Career at the Faculty</span>
                                    </a>
                                </div>
                            </div>


                            <div class="footer-menu-item-link">
                                <div class="footer-menu-title">
                                    <a href="/en/personal-data-protection">
                                        <span>Personal data protection</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>





                <!--  ŠTUDETNSKI REFERAT  -->
                <div class="studentski-referat">
                    <div class="overlay-color">
                        <div class="container inner">

                            <div class="heading">Student Office</div>
                            <div class="content-body">
                                <div class="head-offical">
                                    Office hours                    </div>
                                <div class="offical-hours">

                                    Monday, Tuesday, Wednesday, Thursday: from <span class="info-strong">10:30</span><span class="footerInfoLight"> to </span><span class="info-strong">12:30</span>                    </div>
                                <div class="telephone">
                                    <span style="color:#767676; font-family: 'Klavika-LightCond">E: </span>
                                    <a style="color: white" href="mailto:studinfo@fri.uni-lj.si">
                                        studinfo@fri.uni-lj.si                                </a>
                                </div>
                                <div class="email">
                                    <span style="color:#767676; font-family: 'Klavika-LightCond">T: </span>

                                    +386 (0)1 / 479 8118                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="information">
                    <div class="container">
                        <div class="logo-f">
                            <img src="/sites/all/themes/fri_theme/images/FRI_logo_eng_zaNogo.png">
                        </div>
                        <div class="info">
                            <p class="univerza">University of Ljubljana</p>
                            <p class="naziv"> Faculty of Computer and Information Science</p>

                            <p class="lokacija"> Večna pot 113, 1000 Ljubljana</p>

                            <div style="margin-left:-25px;">
                                <p class="info">
                                    <a style="margin-left:25px" class="footer-grayed">T:</a>
                                    +386 (0)1 / 479 8000<br>                        <a style="margin-left:25px" class="footer-grayed">M:</a>
                                    + 386 (0)41 / 309 751
                                </p>
                            </div>
                            <div>
                                <p class="info">
                                    <a class="footer-grayed">E:</a>
                                    <a style="color: white" href="mailto:dekanat@fri.uni-lj.si">
                                        dekanat@fri.uni-lj.si                        </a>
                                </p>
                            </div>

                        </div>



                        <div class="social">
                            <div style="font-family: 'Klavika-Light'">
                                FRI on social networks                </div>
                            <div class="fri-on-social">
                                <a href="https://www.facebook.com/ulfri" target="_blank">
                                    <img style="float:left" src="/sites/all/themes/fri_theme/images/f.png">
                                </a>
                                <a href="https://www.youtube.com/playlist?list=PLGYg4ZIlAe557Ad9QGq_G6i9y5CcJY0xt" target="_blank">
                                    <img style="margin-left:25px;margin-top:4px" src="/sites/all/themes/fri_theme/images/yt.png">
                                </a>
                                <a class="ml-5" title="FRI Github repozitorij kode" target="_blank" href="https://github.com/UL-FRI"><img class="w-6 h-6" src="/sites/all/themes/fri_theme/images/github-gray.png"></a>
                            </div>
                        </div>
                        <div class="asiin">
                            <a target="_blank" href="http://www.asiin-ev.de/pages/en/asiin-e.-v.php">
                                <img src="/sites/all/themes/fri_theme/images/asiin_dark.png">
                            </a>
                        </div>


                    </div>
                </div>





                <div class="footer-production">
                    <div class="container">
                        <div class="left">
                            <div class="rightsReserved">
                                All rights reserved ©  Faculty of Computer and Information Science, 2019
                            </div>
                        </div>
                        <div class="right">
                            <!--
                            <div class="rightsReserved2" >
                                Design and construction:
                            </div>
                            <a href="http://www.tovarnaidej.si/en" target="_blank">
                                <img id="rightsReservedImage" src="/sites/all/themes/fri_theme/images/ti_light.png" />
                            </a>
                            -->
                        </div>
                    </div>
                </div>


            </footer>  </div>
    </div>
</div>