<div id="banner-header" class="container">
	<div class="breadcrumbs">
		<a href="/">Domov</a>

		<span>></span>
		<a href="/sl/raziskave"> Raziskave</a>

		<span>></span>
		<a href="/sl/raziskave/laboratoriji"> Laboratoriji</a>

		<span>></span>
		{{ .Title }}
	</div>

	<div class="left-container-text">
		<div class="wrap-text flex-space-between">
			<div class="title">
				<div>{{ .Title }}</div>
			</div>
			<div class="dots">
				<div class="whiteDotsBanner" style="top : 0px;left: 0x;width: 395px;"></div>
			</div>
			<div class="text">
				{{ .Params.bannerText }}
			</div>
		</div>
	</div>
	<div class="header-image-katedre" style="background-image: url('https://fri.uni-lj.si{{ printf "/sites/default/files/%s.jpg" .Params.bannerImg }}') !important;"></div></div>