{{- $file_now := printf "%s" (lower .Params.abbreviation) -}}
{{- $file_end := printf "%s_end" (lower .Params.abbreviation) -}}

<div class="list-katedra" style="width: initial;">
    <ul>
        {{ range (index $.Site.Data.laboratorij.projects $file_now) }}
        <li>
            <a href="{{with .url}}{{.}}{{end}}">
                <span>{{ if eq .Site.Language.Lang "en"}}{{with .title.en}}{{.}}{{end}}{{else}}{{.title.si}}{{end}}</span>
            </a><br />
            {{with .ref_project_type }}<span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>{{ index $.Site.Params.proj_types (int (sub . 1)) }}</span>{{end}}
            <span style='font-size: 12px; cursor:default; color:black;'>
                {{with .start_date}}
                {{ partial "dateReformat.html" . }}{{end}} -
                {{with .end_date}}{{ partial "dateReformat.html" . }}{{end}}
            </span>
        </li>
        {{ end }}
    </ul>

        <br/>{{ i18n "past" }}:
    <ul>
        {{ range (index $.Site.Data.laboratorij.projects $file_end) }}
        <li>
            <a href="{{with .url}}{{.}}{{end}}">
                <span>{{ if eq .Site.Language.Lang "en"}}{{with .title.en}}{{.}}{{end}}{{else}}{{.title.si}}{{end}}</span>
            </a><br />
            {{with .ref_project_type }}<span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>{{ index $.Site.Params.proj_types (int (sub . 1)) }}</span>{{end}}
            <span style='font-size: 12px; cursor:default; color:black;'>
                {{with .start_date}}
                {{ partial "dateReformat.html" . }}{{end}} -
                {{with .end_date}}{{ partial "dateReformat.html" . }}{{end}}
            </span>
        </li>
        {{ end }}
    </ul>
</div>