<div id="banner-header" class="container">
	<div class="breadcrumbs">
		<a href="/{{ .Language.Lang }}">{{ i18n "home" }}</a>

		<span>></span>
		<a href="/{{ .Language.Lang }}/raziskave"> {{ i18n "research" 0}}</a>

		<span>></span>
		<a href="/{{ .Language.Lang }}/raziskave/laboratoriji"> {{ i18n "laboratory" 0}}</a>

		<span>></span>
		{{ .Title }}
	</div>

	<div class="left-container-text">
		<div class="wrap-text flex-space-between">
			<div class="title">
				<div>{{ .Title }}</div>
			</div>
			<div class="dots">
				<div class="whiteDotsBanner" style="top : 0px;left: 0x;width: 395px;"></div>
			</div>
			<div class="text">
				{{ .Params.bannerText }}
			</div>
		</div>
	</div>
	<div class="header-image-katedre" style="background-image: url('https://fri.uni-lj.si{{ printf "/sites/default/files/%s.jpg" .Params.bannerImg }}') !important;"></div></div>