{{- $file_now := printf "%s" (lower .Params.abbreviation) -}}
{{- $file_end := printf "%s_end" (lower .Params.abbreviation) -}}

<div class="list-katedra" style="width: initial;">
    <ul>
        {{ range (index $.Site.Data.laboratorij.projekti $file_now)}}
        <li>
            <a href="">
                <span>{{ if eq .Site.Language.Lang "en"}}{{with .en.title}}{{.}}{{end}}{{else}}{{.si.title}}{{end}}</span>
            </a><br />
            {{with .si.ref_project_type }}<span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>{{ index $.Site.Params.proj_types (int (sub . 1)) }}</span>{{end}}
            <span style='font-size: 12px; cursor:default; color:black;'>
                {{with .si.start_date}}
                {{ partial "dateReformat.html" . }}{{end}} -
                {{with .si.end_date}}{{ partial "dateReformat.html" . }}{{end}}
            </span>
        </li>
        {{ end }}
    </ul>

        <br/>Zaključeni:
    <ul>
        {{ range (index $.Site.Data.laboratorij.projekti $file_end)}}
        <li>
            <a href="">
                <span>{{ if eq .Site.Language.Lang "en"}}{{with .en.title}}{{.}}{{end}}{{else}}{{.si.title}}{{end}}</span>
            </a><br />
            {{with .si.ref_project_type }}<span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>{{ index $.Site.Params.proj_types (int (sub . 1)) }}</span>{{end}}
            <span style='font-size: 12px; cursor:default; color:black;'>
                {{with .si.start_date}}
                {{ partial "dateReformat.html" . }}{{end}} -
                {{with .si.end_date}}{{ partial "dateReformat.html" . }}{{end}}
            </span>
        </li>
        {{ end }}
    </ul>
</div>