<div class="list-katedra">
    <ul>

        <li><a href="/sl/o-fakulteti/osebje/igor-kononenko">
            Igor Kononenko, predstojnik laboratorija        </a></li>

        <li><a href="/sl/o-fakulteti/osebje/tadej-skvorc">
            Tadej Škvorc                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/nikola-ljubesic-0">
            Nikola Ljubešić                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/dejan-georgiev-0">
            Dejan Georgiev                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/jan-pavlin-0">
            Jan Pavlin                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/matej-martinc">
            Matej Martinc                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/matej-ulcar">
            Matej Ulčar                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/tim-smole">
            Tim Smole                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/teja-goli">
            Teja Goli                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/kaja-dobrovoljc">
            Kaja Dobrovoljc                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/jaka-cibej">
            Jaka Čibej                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/zoran-bosnic">
            Zoran Bosnić                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/jan-kralj">
            Jan Kralj                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/jana-faganeli-pucer">
            Jana Faganeli Pucer                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/gregor-pirs">
            Gregor Pirš                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/martin-jakomin">
            Martin Jakomin                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/petar-vracar">
            Petar Vračar                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/erik-strumbelj">
            Erik Štrumbelj                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/marko-robnik-sikonja">
            Marko Robnik Šikonja                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/matej-piculin">
            Matej Pičulin                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/matjaz-kukar">
            Matjaž Kukar                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/domen-kosir">
            Domen Košir                                    </a></li>

        <li><a href="/sl/o-fakulteti/osebje/spela-arhar-holdt">
            Špela Arhar Holdt                                    </a></li>
    </ul>
</div>