<div class="list-katedra" style="width: initial;">
    <ul>
        <li>
            <a href="/sl/projekti/raziskovalno-delo">
                Raziskovalno delo</a><br /><span style='font-size: 12px; cursor:default; color:black;'>25.03.2019 - 25.07.2019</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/embeddia-medjezikovne-vektorske-vlozitve-za-manj-zastopane-jezike-v-evropskih-medijih">
                EMBEDDIA - Medjezikovne vektorske vložitve za manj zastopane jezike v evropskih medijih</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Evropski projekti</span><span style='font-size: 12px; cursor:default; color:black;'>(EMBEDDIA), 01.01.2019 - 31.12.2021</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/digitalizacija-kot-gonilo-trajnostnega-razvoja-posameznika-organizacij-druzbe-0">
                Digitalizacija kot gonilo trajnostnega razvoja posameznika, organizacij in družbe</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Raziskovalni programi ARRS</span><span style='font-size: 12px; cursor:default; color:black;'>01.01.2019 - 31.12.2024</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/jezikovni-viri-tehnologije-za-slovenski-jezik-0">
                Jezikovni viri in tehnologije za slovenski jezik</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Raziskovalni programi ARRS</span><span style='font-size: 12px; cursor:default; color:black;'>01.01.2019 - 31.12.2024</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/razstavljanje-kognicije-mehanizmi-reprezentacije-delovnega-spomina">
                Razstavljanje kognicije: Mehanizmi in reprezentacije delovnega spomina</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Raziskovalni projekti ARRS</span><span style='font-size: 12px; cursor:default; color:black;'>01.07.2018 - 30.06.2021</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/silicofcm-raziskave-silico-za-sledenje-vpliva-ucinkov-zdravil-na-mutacije-sarkomskih">
                SILICOFCM - Raziskave in silico za sledenje vpliva učinkov zdravil na mutacije sarkomskih proteinov, ki povzročajo družinske kardiomiopatije</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Evropski projekti</span><span style='font-size: 12px; cursor:default; color:black;'>(SILICOFCM), 01.06.2018 - 30.11.2021</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/nova-slovnica-sodobne-standardne-slovenscine-viri-metode-0">
                Nova slovnica sodobne standardne slovenščine: viri in metode</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Raziskovalni projekti ARRS</span><span style='font-size: 12px; cursor:default; color:black;'>01.05.2017 - 30.04.2020</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/kauc-za-kakovost-slovenskih-ucbenikov">
                KAUČ - Za KAkovost slovenskih UČbenikov</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Projekti strukturnih skladov</span><span style='font-size: 12px; cursor:default; color:black;'>(KAUČ), 04.11.2016 - 30.06.2022</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/napredek-racunsko-intenzivnih-metod-za-ucinkovito-sodobno-splosnonamensko-statisticno">
                Napredek računsko intenzivnih metod za učinkovito sodobno splošnonamensko statistično analizo in sklepanje</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Raziskovalni projekti ARRS</span><span style='font-size: 12px; cursor:default; color:black;'>(L1-7542), 01.01.2016 - 31.12.2019</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/umetna-inteligenca-inteligentni-sistemi-0">
                Umetna inteligenca in inteligentni sistemi</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Raziskovalni programi ARRS</span><span style='font-size: 12px; cursor:default; color:black;'>01.01.2015 - 31.12.2020</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/nadgradnja-korpusov-gigafida-kres-ccgigafida-cckres">
                Nadgradnja korpusov Gigafida, Kres, ccGigafida in ccKres</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Ostali nacionalni projekti</span><span style='font-size: 12px; cursor:default; color:black;'>01.01.2015 - 31.12.2020</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/center-za-jezikovne-vire-tehnologije-univerze-v-ljubljani-cjvt-ul">
                Center za jezikovne vire in tehnologije Univerze v Ljubljani (CJVT UL)</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Raziskovalni programi ARRS</span><span style='font-size: 12px; cursor:default; color:black;'>01.01.2015 - 31.12.2020</span><br />	                                    </li>
    </ul>


    <br/>Zaključeni:
    <ul>
        <li>
            <a href="/sl/projekti/sipk-3-vzorcna-vpeljava-video-meritev-dolzin-smucarskih-skokov-v-smucarsko-skakalnem-klubu">

                ŠIPK 3 - Vzorčna vpeljava video meritev dolžin smučarskih skokov v Smučarsko skakalnem klubu Mengeš</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Projekti strukturnih skladov</span><span style='font-size: 12px; cursor:default; color:black;'>(ŠIPK 3),15.06.2018 - 15.09.2018</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/raziskovalna-pogodba-ucinkovito-strojno-ucenje-v-oblaku">

                Raziskovalna pogodba: Učinkovito strojno učenje v oblaku</a><br /><span style='font-size: 12px; cursor:default; color:black;'>06.04.2018 - 31.03.2019</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/porocanje-podatkov-o-kakovosti-zraka-na-evropsko-okoljsko-agencijo-preverjanje">

                Poročanje podatkov o kakovosti zraka na Evropsko okoljsko agencijo in preverjanje statističnega modela za napovedovanje onesnaževal</a><br /><span style='font-size: 12px; cursor:default; color:black;'>05.03.2018 - 28.02.2019</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/pogodba-za-izdelavo-studije-o-moznostih-uporabe-podatkov-agencije">

                Pogodba za izdelavo študije o možnostih uporabe podatkov agencije</a><br /><span style='font-size: 12px; cursor:default; color:black;'>26.10.2017 - 28.02.2018</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/krovna-pogodba-o-poslovenem-sodelovanju">

                Krovna pogodba o poslovenem sodelovanju</a><br /><span style='font-size: 12px; cursor:default; color:black;'>23.08.2017 - 01.01.1970</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/pkp-3-locevanje-odpadkov-na-mobilni-napravi">

                PKP 3 - Ločevanje odpadkov na mobilni napravi</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Projekti strukturnih skladov</span><span style='font-size: 12px; cursor:default; color:black;'>(PKP 3),01.03.2017 - 31.07.2017</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/pkp-3-video-meritve-dolzin-smucarskih-skokov">

                PKP 3 - Video meritve dolžin smučarskih skokov</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Projekti strukturnih skladov</span><span style='font-size: 12px; cursor:default; color:black;'>(PKP 3),01.03.2017 - 31.07.2017</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/napredek-racunsko-intenzivnih-metod-za-ucinkovito-sodobno-splosnonamensko-statisticno-0">

                Napredek računsko intenzivnih metod za učinkovito sodobno splošnonamensko statistično analizo in sklepanje</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Raziskovalni projekti ARRS</span><span style='font-size: 12px; cursor:default; color:black;'>01.03.2016 - 28.02.2019</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/sofinanciranje-aplikativnega-projekta-l1-7542">

                Sofinanciranje aplikativnega projekta L1-7542</a><br /><span style='font-size: 12px; cursor:default; color:black;'>01.03.2016 - 28.02.2019</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/avtomatsko-zaznavanje-lokalizacija-ishemij-z-uporabo-algoritmov-podatkovnega-rudarjenja">

                Avtomatsko zaznavanje in lokalizacija ishemij z uporabo algoritmov podatkovnega rudarjenja</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Bilaterarni projekti</span><span style='font-size: 12px; cursor:default; color:black;'>04.02.2016 - 31.12.2017</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/inteligentne-racunalniske-metode-za-izboljsanje-zaznavanja-analize-razlage-kognitivnih">

                Inteligentne računalniške metode za izboljšanje zaznavanja, analize in razlage kognitivnih motenj obnašanja pri človeku</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Bilaterarni projekti</span><span style='font-size: 12px; cursor:default; color:black;'>04.02.2016 - 31.12.2017</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/pkp-2-turisticni-vodic-na-podlagi-igre-lov-za-skritim-zakladom">

                PKP 2 - Turistični vodič na podlagi igre "Lov za skritim zakladom"</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Projekti strukturnih skladov</span><span style='font-size: 12px; cursor:default; color:black;'>(PKP 2),01.02.2015 - 31.07.2015</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/nadzorovano-nenadzorovano-ucenje-iz-neuravnovesenih-podatkov-za-pomoc-pri-gibanju">

                Nadzorovano in nenadzorovano učenje iz neuravnovešenih podatkov za pomoč pri gibanju slabovidnim osebam</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Bilaterarni projekti</span><span style='font-size: 12px; cursor:default; color:black;'>01.05.2014 - 31.12.2015</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/razvoj-novih-modelov-v-e-izobrazevanju-za-ucenje-skozi-igro-z-uporabo-mobilnih-tehnologij">

                Razvoj novih modelov v e-izobraževanju za učenje skozi igro z uporabo mobilnih tehnologij</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Bilaterarni projekti</span><span style='font-size: 12px; cursor:default; color:black;'>01.04.2014 - 31.12.2015</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/pkp-1-avtomatizacija-testiranja-spletnih-aplikacij">

                PKP 1 - Avtomatizacija testiranja spletnih aplikacij</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Projekti strukturnih skladov</span><span style='font-size: 12px; cursor:default; color:black;'>(PKP 1),01.04.2014 - 30.09.2014</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/agroit-increasing-efficiency-farming-through-open-standards-based-agroit-platform">

                AGROIT - Increasing the efficiency of farming through on open standards based AgroIT platform</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Evropski projekti</span><span style='font-size: 12px; cursor:default; color:black;'>(AGROIT),01.03.2014 - 30.09.2016</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/racunalnisko-modeliranje-v-bioinformatiki-za-gensko-klasifikacijo-raka-s-poudarkom-na">

                Računalniško modeliranje v bioinformatiki za gensko klasifikacijo raka s poudarkom na zanesljivosti in strojnem učenju</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Bilaterarni projekti</span><span style='font-size: 12px; cursor:default; color:black;'>01.01.2014 - 31.12.2015</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/kul-kakovost-univerza-v-ljubljani">

                KUL - Kakovost - Univerza v Ljubljani</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Projekti strukturnih skladov</span><span style='font-size: 12px; cursor:default; color:black;'>(KUL),01.03.2013 - 30.06.2015</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/svetovanje">

                Svetovanje</a><br /><span style='font-size: 12px; cursor:default; color:black;'>01.08.2012 - 16.02.2016</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/raziskovalne-storitve">

                Raziskovalne storitve</a><br /><span style='font-size: 12px; cursor:default; color:black;'>01.04.2011 - 13.12.2011</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/napovedovanje-porabe-elektricne-energije-podprto-z-razlago-oceno-zanesljivosti-napovedi">

                Napovedovanje porabe električne energije, podprto z razlago in oceno zanesljivosti napovedi</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Bilaterarni projekti</span><span style='font-size: 12px; cursor:default; color:black;'>01.01.2010 - 31.12.2011</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/integracija-odkrivanja-zakonitosti-v-podatkih-visoko-zmogljivega-racunalniskega-modeliranja">

                Integracija odkrivanja zakonitosti v podatkih in visoko-zmogljivega računalniškega modeliranja srčno-žilnih bolezni</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Bilaterarni projekti</span><span style='font-size: 12px; cursor:default; color:black;'>01.01.2010 - 31.12.2011</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/strojno-ucenje-neuravnotezenih-podatkov">

                Strojno učenje neuravnoteženih podatkov</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Bilaterarni projekti</span><span style='font-size: 12px; cursor:default; color:black;'>01.01.2010 - 31.12.2011</span><br />	                                    </li>
        <li>
            <a href="/sl/projekti/umetna-inteligenca-inteligentni-sistemi">

                Umetna inteligenca in inteligentni sistemi</a><br /><span style='cursor:default; background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 12px; margin-right: 4px;'>Raziskovalni programi ARRS</span><span style='font-size: 12px; cursor:default; color:black;'>01.01.2009 - 31.12.2014</span><br />	                                    </li>
    </ul>
</div>