{{ if gt (len .Params.projects) 0 }}
{{- $file := printf "%s" (lower .Params.fileName) -}}
{{- $projects := .Params.projects }}
{{- $indexes := slice }}
{{ range (index $.Site.Data.osebje.projects $file) }}
    {{- $tempID := .id -}}
    {{ range $projects}}
        {{ if eq (int $tempID) (int .) }}
            {{$indexes = $indexes | append (slice $tempID)}}
        {{ end }}
    {{ end }}
{{ end }}
<div class="aboutMainSectionLi">
    <div class="aboutMainSectionTitle">{{ i18n "_project" 0 }}</div>
    <div class="title-small-gray"></div>
    <ul class="customList">
        {{ range (index $.Site.Data.osebje.projects $file) }}
        {{ if and (in $indexes .id) (gt (time .end_date) now) }}
        <li>
            <a href="{{ with .url }}{{.}}{{end}}">
                <span>{{ if eq .Site.Language.Lang "en"}}{{with .title.en}}{{.}}{{end}}{{else}}{{.title.si}}{{end}}</span>
            </a><br />
            {{with .ref_project_type }}<span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>{{ index $.Site.Params.proj_types (int (sub . 1)) }}</span>{{end}}
            {{with .start_date}}<span style='font-size: 12px; cursor:default; color:black;'>{{ partial "dateReformat.html" . }}{{end}} - {{with .end_date}}{{ partial "dateReformat.html" . }}{{end}}</span>
        </li>
        {{ end }}
        {{ end }}
    </ul>
    <div class="title-small-gray" style="margin-top: 10px">{{ i18n "past"}} {{ i18n "_project" 0 }}</div>
    <ul class="customList">

        {{ range (index $.Site.Data.osebje.projects $file) }}
        {{ if and (in $indexes .id) (lt (time .end_date) now) }}
        <li>
            <a href="{{ with .url }}{{.}}{{end}}">
                <span>{{ if eq .Site.Language.Lang "en"}}{{with .title.en}}{{.}}{{end}}{{else}}{{.title.si}}{{end}}</span>
            </a><br />
            {{with .ref_project_type }}<span style='background-color:#f2f2f2; padding: 2px 4px; color: #7f7f7f; font-family: Verdana; font-size: 10px; margin-right: 4px;'>{{ index $.Site.Params.proj_types (int (sub . 1)) }}</span>{{end}}
            {{with .start_date}}<span style='font-size: 12px; cursor:default; color:black;'>{{ partial "dateReformat.html" . }}{{end}} - {{with .end_date}}{{ partial "dateReformat.html" . }}{{end}}</span>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</div>
{{ end }}
