{{- $file := printf "%s_sub_img" .Params.fixName -}}
<div class="aboutMainSectionContainer">
    <div class="aboutMainSectionTitle">{{ i18n "class" 0 }}</div>
    <div class="aboutMainSectionLi">
        <ul class="customList">
            {{ range $code := (index $.Site.Data.osebje.subjects_and_img $file).subjects }}
            {{ range $.Site.Data.subjects}}
                {{ if eq $code .course_code }}
                <li>
                    <a href='{{.url}}' >{{if eq $.Site.Language.Lang "en"}}{{ .title.en }}{{ else }}{{ .title.sl }}{{ end }}</a>
                </li>
                {{ end }}
            {{ end }}
            {{ end }}
        </ul>
    </div>
</div>

