<div id="side-menu">
    <div id="aboutFacultyText">
        <a href="/sl/poslanstvo-vizija">
            O fakulteti            </a>
    </div>
    <div class="redDots" style="width: 85px;"></div>
    <div>
        <div class="divSideMenuItem">
            <a href="/sl/poslanstvo-vizija">
                <div class='main-title'>Poslanstvo in vizija</div>                                <div class='sub-title'></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/sl/vodstvo">
                <div class='main-title'>Vodstvo</div>                                <div class='sub-title'></div>                            </a>
        </div>

        <div class="divSideMenuItem active-side-link">
            <a href="/sl/o-fakulteti/osebje">
                Osebje                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/sl/kontakti">
                <div class='main-title'>Kontakti</div>                                <div class='sub-title'></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/sl/o-fakulteti/kako-do-nas">
                <div class='main-title'>Kako do nas</div>                                <div class='sub-title'></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/sl/kje-je-kaj">
                <div class='main-title'>Kje je kaj</div>                                <div class='sub-title'></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/sl/katalog-informacij-javnega-znacaja">
                <div class='main-title'>Katalog informacij javnega značaja</div>                                <div class='sub-title'></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/sl/porocila">
                <div class='main-title'>Poročila</div>                                <div class='sub-title'></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/sl/javna-narocila">
                <div class='main-title'>Javna naročila</div>                                <div class='sub-title'></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/sl/kariera-na-fri">
                <div class='main-title'>Kariera na FRI</div>                                <div class='sub-title'></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/sl/medijsko-sredisce">
                <div class='main-title'>Medijsko središče</div>                                <div class='sub-title'></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/sl/zalozba-ul-fri">
                <div class='main-title'>Založba UL FRI</div>                                <div class='sub-title'></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/sl/najem-prostorov">
                <div class='main-title'>Najem prostora</div>                                <div class='sub-title'></div>                            </a>
        </div>

    </div>
</div>