<div id="side-menu">
	<div id="aboutFacultyText">
		<a href="/-/sl/raziskave">Raziskave</a>
	</div>
	<div class="redDots" style="width: 85px;"></div>
	<div>
		<div class="divSideMenuItem">
			<a href="/-/sl/raziskave/laboratoriji">
				<div class='main-title'>Laboratoriji</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="raz40 divSideMenuItem">
			<a href="/-/sl/laboratorij/laspp">
				<div class='main-title'>Laboratorij za adaptivne sisteme in paralelno procesiranje</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="raz40 divSideMenuItem">
			<a href="/-/sl/laboratorij/lalg">
				<div class='main-title'>Laboratorij za algoritmiko</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="raz40 divSideMenuItem">
			<a href="/-/sl/laboratorij/biolab">
				<div class='main-title'>Laboratorij za bioinformatiko</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="raz40 divSideMenuItem">
			<a href="/-/sl/laboratorij/lbrso">
				<div class='main-title'>Laboratorij za biomedicinske računalniške sisteme in oslikave</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="raz40 divSideMenuItem">
			<a href="/-/sl/laboratorij/lem">
				<div class='main-title'>Laboratorij za e-medije</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="raz40 divSideMenuItem">
			<a href="/-/sl/laboratorij/li">
				<div class='main-title'>Laboratorij za informatiko</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="raz40 divSideMenuItem">
			<a href="/-/sl/laboratorij/liis">
				<div class='main-title'>Laboratorij za integracijo informacijskih sistemov</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div  class="raz40 divSideMenuItem active-side-link">
			<a href="/-/sl/laboratorij/lkm">
				<div class='main-title'>Laboratorij za kognitivno modeliranje</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="raz40 divSideMenuItem">
			<a href="/-/sl/laboratorij/lkrv">
				<div class='main-title'>Laboratorij za kriptografijo in računalniško varnost</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="raz40 divSideMenuItem">
			<a href="/-/sl/laboratorij/lmmri">
				<div class='main-title'>Laboratorij za matematične metode v računalništvu in informatiki</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="raz40 divSideMenuItem">
			<a href="/-/sl/laboratorij/lpt">
				<div class='main-title'>Laboratorij za podatkovne tehnologije</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="raz40 divSideMenuItem">
			<a href="/-/sl/laboratorij/lrk">
				<div class='main-title'>Laboratorij za računalniške komunikacije</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="raz40 divSideMenuItem">
			<a href="/-/sl/laboratorij/lrss">
				<div class='main-title'>Laboratorij za računalniške strukture in sisteme</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="raz40 divSideMenuItem">
			<a href="/-/sl/laboratorij/lrv">
				<div class='main-title'>Laboratorij za računalniški vid</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="raz40 divSideMenuItem">
			<a href="/-/sl/laboratorij/lgm">
				<div class='main-title'>Laboratorij za računalniško grafiko in multimedije</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="raz40 divSideMenuItem">
			<a href="/-/sl/laboratorij/ltpo">
				<div class='main-title'>Laboratorij za tehnologijo programske opreme</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="raz40 divSideMenuItem">
			<a href="/-/sl/laboratorij/luvss">
				<div class='main-title'>Laboratorij za umetne vizualne spoznavne sisteme</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="raz40 divSideMenuItem">
			<a href="/-/sl/laboratorij/lui">
				<div class='main-title'>Laboratorij za umetno inteligenco</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="raz40 divSideMenuItem">
			<a href="/-/sl/laboratorij/lusy">
				<div class='main-title'>Laboratorij za vseprisotne sisteme</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="divSideMenuItem">
			<a href="/sl/raziskave/raziskovalni-projekti">
				<div class='main-title'>Raziskovalni projekti</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="divSideMenuItem">
			<a href="/sl/raziskave/seminarji-konference-zagovori">
				<div class='main-title'>Seminarji, konference in zagovori</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="divSideMenuItem">
			<a href="/sl/raziskovalna-infrastruktura">
				<div class='main-title'>Raziskovalna infrastruktura</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="divSideMenuItem">
			<a href="/sl/cern">
				<div class='main-title'>CERN</div>
				<div class='sub-title'></div>
			</a>
		</div>

		<div class="divSideMenuItem">
			<a href="/sl/jrc">
				<div class='main-title'>JRC</div>
				<div class='sub-title'></div>
			</a>
		</div>
	</div>
</div>