<div id="side-menu">
    <div id="aboutFacultyText">
        <a href="/en/about">
            About            </a>
    </div>
    <div class="redDots" style="width: 85px;"></div>
    <div>
        <div class="divSideMenuItem">
            <a href="/en/mission-and-vision">
                <div class="main-title">Mission and Vision</div>                                <div class="sub-title"></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/en/management">
                <div class="main-title">Management</div>                                <div class="sub-title"></div>                            </a>
        </div>

        <div class="divSideMenuItem active-side-link">
            <a href="/en/about-faculty/employees">
                <div class="main-title">Employees</div>                                <div class="sub-title"></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/en/contact">
                <div class="main-title">Contact</div>                                <div class="sub-title"></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/en/about-faculty/how-to-reach-us">
                <div class="main-title">How to reach us</div>                                <div class="sub-title"></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/en/where-we-are">
                <div class="main-title">Where we are</div>                                <div class="sub-title"></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/en/catalogue-information-public-nature">
                <div class="main-title">Catalogue of Information of a Public Nature</div>                                <div class="sub-title"></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/en/research-review">
                <div class="main-title">Research Review</div>                                <div class="sub-title"></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/en/career-faculty">
                <div class="main-title">Career at the Faculty</div>                                <div class="sub-title"></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/en/media-centre">
                <div class="main-title">Media centre</div>                                <div class="sub-title"></div>                            </a>
        </div>

    </div>
</div>