<div id="side-menu">
    <div id="aboutFacultyText">
        <a href="/en/research">
            Research            </a>
    </div>
    <div class="redDots" style="width: 85px;"></div>
    <div>
        <div class="divSideMenuItem">
            <a href="/en/research/laboratories">
                <div class="main-title">Laboratories</div>                                <div class="sub-title"></div>                            </a>
        </div>

        <div class="raz40 divSideMenuItem active-side-link">
            <a href="/en/laboratory/lalg">
                <div class="main-title"></div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="raz40 divSideMenuItem">
            <a href="/en/laboratory/lui">
                <div class="main-title">Artificial Intelligence Laboratory</div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="raz40 divSideMenuItem">
            <a href="/en/laboratory/biolab">
                <div class="main-title">Bioinformatics Laboratory</div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="raz40 divSideMenuItem">
            <a href="/en/laboratory/lrk">
                <div class="main-title">Computer Communications Laboratory</div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="raz40 divSideMenuItem">
            <a href="/en/laboratory/lrss">
                <div class="main-title">Computer Structures and Systems Laboratory</div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="raz40 divSideMenuItem">
            <a href="/en/laboratory/lrv">
                <div class="main-title">Computer Vision Laboratory</div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="raz40 divSideMenuItem">
            <a href="/en/laboratory/li">
                <div class="main-title">Information Systems Laboratory</div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="raz40 divSideMenuItem">
            <a href="/en/laboratory/laspp">
                <div class="main-title">Laboratory for Adaptive Systems and Parallel Processing</div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="raz40 divSideMenuItem">
            <a href="/en/laboratory/laps">
                <div class="main-title">Laboratory for Architecture and Signal Processing</div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="raz40 divSideMenuItem">
            <a href="/en/laboratory/lbrso">
                <div class="main-title">Laboratory for Biomedical Computer Systems and Imaging</div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="raz40 divSideMenuItem">
            <a href="/en/laboratory/lkm">
                <div class="main-title">Laboratory for Cognitive Modeling</div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="raz40 divSideMenuItem">
            <a href="/en/laboratory/lkrv">
                <div class="main-title">Laboratory for Cryptography and Computer Security</div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="raz40 divSideMenuItem">
            <a href="/en/laboratory/lpt">
                <div class="main-title">Laboratory for Data Technologies</div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="raz40 divSideMenuItem">
            <a href="/en/laboratory/liis">
                <div class="main-title">Laboratory for Integration of Information Systems</div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="raz40 divSideMenuItem">
            <a href="/en/laboratory/lmmri">
                <div class="main-title">Laboratory for Mathematical Methods in Computer and Information Science</div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="raz40 divSideMenuItem">
            <a href="/en/laboratory/lusy">
                <div class="main-title">Laboratory for Ubiquitous systems</div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="raz40 divSideMenuItem">
            <a href="/en/laboratory/lgm">
                <div class="main-title">Laboratory of Computer Graphics and Multimedia </div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="raz40 divSideMenuItem">
            <a href="/en/laboratory/lem">
                <div class="main-title">Laboratory of e-media</div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="raz40 divSideMenuItem">
            <a href="/en/laboratory/ltpo">
                <div class="main-title">Software Engineering Laboratory</div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="raz40 divSideMenuItem">
            <a href="/en/laboratory/luvss">
                <div class="main-title">Visual Cognitive Systems Laboratory</div>                                            <div class="sub-title"></div>                                        </a>
        </div>
        <div class="divSideMenuItem">
            <a href="/en/research/research-projects">
                <div class="main-title">Research projects</div>                                <div class="sub-title"></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/en/research/seminars-conferences-graduations">
                <div class="main-title">Seminars, conferences and graduations</div>                                <div class="sub-title"></div>                            </a>
        </div>

        <div class="divSideMenuItem">
            <a href="/en/jrc-0">
                <div class="main-title">JRC</div>                                <div class="sub-title"></div>                            </a>
        </div>

    </div>
</div>