{{ define "main" }}

<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-1637 node-type-laboratorij i18n-sl" >
  <div style="position: relative">
    <div id="mobile-menu-backgroud-dark"></div>

    {{ partial "header.html" .}}

    <div class="region region-content">
      <div id="block-system-main" class="block block-system">
        <div class="content">
          <div class="header-margin"></div>
          <div id="block-studij-banner-block-custom" class="block block-studij">
            <div class="content">

							{{ partial "lab-banner.html" . }}

            </div>
          </div>

					<div class="container" id="katedre-main-container">
						<div class="flex-space-between">
							<div id="katedre-container" >

								<div class="contactInfo">

									<div class="info-lab">
										<span style="color: #999999"> Lokacija:</span>
										<span style="padding-left: 12px">{{ .Params.location }}</span>
									</div>

									<div class="info-lab">
										<span style="color: #999999"> Povezava:</span>
										<span style="padding-left: 12px"><a href="{{ .Params.url }}">{{ .Params.acronym }}</a></span>
									</div>

								</div>

								<div class="grayDots"></div>

								<div id="katedra-items" class="laboratories laboratorijOpis">

									<div class="katedra-item">
										<div class="laboratorijOpis">
											<div id="katedre-quote">{{ .Content }}</div>
											<div>&nbsp;</div>
										</div>
									</div>

									<div class="katedra-item">
										<div class="heading-article">
											<ul>
												<li>Sodelavci</li>
											</ul>
										</div>
										<div class="grayDots"></div>

										{{ partial "list-employees.html" . }}

									</div>

									<div class="katedra-item">
										<div class="heading-article">
											<ul>
												<li>Projekti</li>
											</ul>
										</div>
										<div class="grayDots"></div>

										{{ partial "list-projects.html" . }}

									</div>
								</div>
							</div>

							{{ partial "side-menu.html" . }}

						</div>
					</div>

        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}

    {{ partial "js.html" . }}

  </div>
</body>

{{ end }}